
.navigation {
border: 10px; 
font-size: 50px;
}

h1{
    font-size: 55px;
    font-family: 'Peddana', serif;
    color: #67a1e0;
}

h2{
    font-size: 45px;
    font-family: 'Peddana', serif;
    color: #67a1e0;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
   
}
*{
    background: #060e0d;
    color: #EEF7FC;


}
.about_header{
    color: blue;
}